* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background-color: #888;
}

section {
    height: 100vh;
    text-align: center;
    display: block;

}

section p {
    max-width: 75%;
    margin: 16px auto;
}

img {
    max-width: 100%;
}